@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    border: 10px solid red;
    border-radius: 10px;
}

.main-content {
    display: flex;  
    align-items: center; 
    justify-content: center; 
    margin-left: 50px;
    gap: 10px; 
}

#container {
    display: grid;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    margin: 20px auto;
}

#hero {
    display: flex;
    align-items: center;
    gap: 0px;
    justify-content: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    margin-top: 0px;
}

#scroll-btn {
    background-color: white;
    color: black;
    transition: transform 0.3s ease;
    margin-top: 10px;
    padding: 25px;
    font-weight: 700;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

#scroll-btn:hover {
    transform: translateY(-5px);
    background-color: black;
    color: white;
}

#container:hover {
    background-color: black;
}

#dimension {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.grid-box {
    border: 1px solid black;
    aspect-ratio: 1;
    background-color: white;
}

.square {
    border: 1px solid gray;
    background-color: white;
    transition: background-color 1ms;
}

.square:hover {
    background-color: black;
}



